.input {
  display: flex;
  gap: 12px;

  button {
    margin: 12px 0;
    width: 72px;
    border: 2px solid black;
    border-radius: 8px;
  }

  &__fields {
    width: 250px;

    &__weight,
    &__height {
      margin: 12px 0;
      display: flex;
      justify-content: space-between;
    }

    label {
      margin: 0 auto;
      line-height: 26px;
    }

    input {
      height: 2em;
      text-align: center;
    }
  }
}
